<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Modified Tesseract.js Angular App
  </h1>
</div>

<div style="text-align: center;">
  <label for="img">Select image: </label>
  <input type="file" name="img" accept="image/*" [(ngModel)]="imageUpload" (change)="readImage($event)">

  <div *ngIf="imageUpload">
    <h2>Uploaded Image: </h2>
    <img [src]="imgSrc" id="img" />
    <p>Confidence: {{confidence}} %</p>

    <h2>Result: </h2>
    <p>
      {{ ocrResult }}
    </p>
  </div>

</div>