<!--The content below is only a placeholder and can be replaced.-->
<div style="padding: 3%;">
  <h1>
    Modified Tesseract.js Angular App
  </h1>
  <h5>Tesseract library is a powerful Javascript library that is able to help extract text from images. However when
    images are in different orientation, the text recognised are not accurate.
  </h5>

  <h5>For this minor problem, the confidence level can be used. Confidence level is a 0–100 score of how accurate the
    conversion was.
    So based on a set confidence threshold, if the conversion does not meet this number, the image will be rotated.
  </h5>

  <h5>For this test app, I used a confidence threshold level of 80 % and rotate image by 90 degrees.</h5>

  <h6><i>This app works on the assumption that the image background is not noisy and beside text, there are no other
      elements in the image.</i></h6>
</div>

<div style="padding: 3%;">
  <label for="img">Select image: </label>
  <input type="file" name="img" accept="image/*" [(ngModel)]="imageUpload" (change)="readImage($event)">
  <div *ngIf="imageUpload">
    <button (click)="stop()" *ngIf="!stopProcess">
      <p>Stop</p>
    </button>
  </div>

  <div *ngIf="imageUpload">
    <h2>Uploaded Image: </h2>

    <div>
      <img [src]="imgSrc" id="img" width="80%" height="30%" />
      <p>Confidence: {{confidence}} %</p>

      <h2>Result: </h2>
      <p>
        {{ ocrResult }}
      </p>
    </div>
  </div>

</div>